.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log


node_modules


config.js
config.localTest.js

old_node_modules
nm
.idea


secrets.testing.js
secrets.development.js